*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
  overflow: auto;
scrollbar-width: none;
}
.home{
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 80%;
  max-width: 70%;
  min-height: 697px;
  max-height: 800px;
  overflow-y: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--text-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--text-color);
}

.dashboard {
  width: 90%;
  margin: 0 auto;
  color: var(--text-color);
  padding: 20px;
  font-family: Arial, sans-serif;
  
}

.balance {
  font-size: 24px;
  margin-bottom: 20px;
}
.amount{
  margin-left: 3px;
  color: var(--red-color);
}
.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.incomeBudget, .expenses {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  width: 45%;
  min-height: 150px;
  max-height: 200px;
  text-align: center;
}

.incomeBudget h2, .expenses h2, .incomeBudget p, .expenses p  {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: var(--red-color);
}

.chartHistory{
  display: flex;
  flex-direction: row;
}
.transactionHistory {
  text-align: center;
  flex: 1;
  margin-bottom: 20px;
}

.transactionHistory h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: var(--text-color);
}

.transactionHistory ul {
  list-style-type: none;
  padding: 0;
}

.transactionHistory li {
  
  font-weight: bold;
  background-color: #2e2e2e;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content:space-between;
  text-align: center;
  color: var(--text-color);
}
.pieChart {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .home {
    overflow: auto;
    min-width: 298px;
    max-width: 480px;
    min-height: 50vh;
    max-height: auto;
    border: none;
    /* overflow: auto; */
  }

  .dashboard {
    overflow: hidden;
    min-width: 298px;
    max-width: 480px;
    min-height: 50vh;
    max-height: auto;
    margin: 20px auto;
    padding: 0;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
  }

  .balance {
    padding: 0;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  .amount {
    margin-bottom: 10px;
    margin-left: 0;
    text-align: left;
  }

  .rupees {
    font-size: 14px; /* Corrected spacing */
    color: var(--text-color);
  }

  .summary {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
  }

  .incomeBudget, .expenses {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
    padding: 0;
    margin: 0;
    border-radius: 8px;
    /* min-width: 130px;
    max-width: 160px; */
    min-width: 30%;
    max-width: 45%;
    margin: 0 auto;
    min-height: 50px;
    max-height: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .incomeBudget h2, .expenses h2, .incomeBudget p, .expenses p {
    margin: 0;
    font-size: 1.2rem;
    padding: 5px 0;
    color: var(--text-color);
    font-weight: 400;
  }

  .incomeBudget .down, .expenses .up {
    font-size: 2.8rem;
    padding: 5px;
    font-weight: bold;
    color: green;
  }

  .expenses .up {
    color: var(--red-color);
  }

  hr {
    display: none;
  }

  .chartHistory {
    min-width: 298px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    align-items: center;
    overflow: hidden;
  }

  .transactionHistory h3 {
    margin-top: 12px;
    text-align:center;
  }

  .transactionHistory li {
    margin: 5px 0;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
  }

  .liRupees {
    font-size: 14px;
  }

  .pieChart .pie {
    overflow: hidden;
    cursor: pointer;
    transform: translate(0);
  }
  .pieChart h2{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 22px;
  }
}
