.home{
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 80%;
  max-width: 70%;
  min-height: 81vh;
  max-height: auto;
  overflow-y: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--text-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--text-color);
}

.dashboard {
  width: 90%;
  margin: 0 auto;
  color: var(--text-color);
  padding: 20px;
  font-family: Arial, sans-serif;
  
}

.balance {
  font-size: 24px;
  margin-bottom: 20px;
}
.amount{
  margin-left: 3px;
  color: var(--red-color);
}
.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.incomeBudget, .expenses {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  width: 45%;
  min-height: 150px;
  max-height: 200px;
  text-align: center;
}

.incomeBudget h2, .expenses h2, .incomeBudget p, .expenses p  {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: var(--red-color);
}

.chartHistory{
  display: flex;
  flex-direction: row;
}
.transactionHistory {
  text-align: center;
  flex: 1;
  margin-bottom: 20px;
}

.transactionHistory h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: var(--text-color);
}

.transactionHistory ul {
  list-style-type: none;
  padding: 0;
}

.transactionHistory li {
  
  font-weight: bold;
  background-color: #2e2e2e;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content:space-between;
  text-align: center;
  color: var(--text-color);
}
.pieChart {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 600px){
  .dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .summary {
      justify-content:center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 20px;
      margin-right: 60px;
      overflow: hidden;
    }
    
    .incomeBudget, .expenses {
      background-color: #2e2e2e;
      padding: 20px;
      border-radius: 8px;
      width: 50%;
      height: 130px;
      text-align: center;
      overflow: hidden;
    }
    
    .incomeBudget h2, .expenses h2 {
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: var(--red-color);
    }
    .incomeBudget p, .expenses p {
      margin-bottom: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      color: green;
    }

    hr{
      width: 60%;
      margin: 0 auto;
    }

    
.chartHistory{
  width: 90%;
  margin: 0 auto;
  margin-right: 100px;
  flex-direction: column;
}
.transactionHistory {
  text-align: center;
  flex: 1;
  margin-bottom: 20px;
}
}
@media screen and (max-width: 320px) {
  .home {
    overflow: hidden;
    min-width: 298px;
    max-width: 320px;
    min-height: 85vh;
    max-height: auto;
    border: none;
  }

  .dashboard {
    overflow: hidden;
    min-width: 298px;
    max-width: 320px;
    min-height: 85vh;
    max-height: auto;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
  }

  .balance {
    padding: 0;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }

  .amount {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .rupees {
    font-size: 14px; /* Corrected spacing */
    color: var(--text-color);
  }

  .summary {
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    margin-bottom: 0;
    margin-left: 60px;
  }

  .incomeBudget, .expenses {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
    padding: 0;
    margin: 0;
    border-radius: 8px;
    min-width: 130px;
    max-width: 160px;
    min-height: 50px;
    max-height: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .incomeBudget h2, .expenses h2, .incomeBudget p, .expenses p {
    margin-bottom: 0;
    font-size: 1rem;
    padding: 5px 0;
    color: var(--text-color);
    font-weight: 400;
  }

  .incomeBudget .down, .expenses .up {
    font-size: 2.5rem;
    padding: 5px;
    font-weight: bold;
    color: green;
  }

  .expenses .up {
    color: var(--red-color);
  }

  hr {
    display: none;
  }

  .chartHistory .transactionHistory, .pieChart {
    min-width: 298px;
    max-width: 320px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
    align-items: flex-start;
    overflow: hidden;
  }

  .transactionHistory h3 {
    margin-top: 12px;
  }

  .transactionHistory li {
    margin: 5px 0;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 300;
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
  }

  .liRupees {
    font-size: 12px;
  }

  .pieChart .pie {
    overflow: hidden;
    cursor: pointer;
    transform: translate(-8px, -10px);
  }
  .pieChart h2{
    margin-left: 26px;
    margin-top: 22px;
  }
}
