* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  max-height: auto;
  gap: 1rem;
  color: var(--text-color);
  min-width: 20%;
  max-width: 30%;
  padding: 1rem;
  overflow: hidden; /* This hides overflowing content */
}

.select_button {
  background-color: var(--red-color);
  color: var(--background-color);
  font-weight: bold;
  padding: 10px 0;
  border-radius: 60px;
  text-align: center;
  font-size: 1.1rem;
  overflow: hidden; /* This hides overflowing content */
}

.button {
  overflow: hidden; /* This hides overflowing content */
  cursor: pointer;
  border-radius: 60px;
  background-color: var(--text-color);
  padding: 10px 0;
  color: var(--red-color);
  font-weight: bold;
  text-align: center;
}
.icon{
  display: none;
}


@media screen and (max-width: 320px) {
  .container{
    overflow: hidden;
    min-width: 298px;
    max-width: 320px;
    min-height: 50px;
    max-height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8px;
    margin:0;
    padding:0;
  }

  .button {
    overflow: hidden;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    padding:0;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }

  .button:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
    padding: 12px 18px;
    cursor: pointer;
    transition:ease-out 0.3s;
  }

  .select_button {
    overflow: hidden;
    background-color: var(--background-color);
    text-decoration: underline;
    color: var(--red-color);
    font-weight: bold;
    padding: 10px 0;
    border-radius: 60px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
  }
  .select_button:hover { 
    /* background-color: var(--hover-background-color); */
    background-color: var(--background-color);
    /* color: var(--hover-text-color); */
    color: magenta;
    padding: 12px 18px;
    cursor: pointer;
  }
}