* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  max-height: auto;
  gap: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 20%;
  max-width: 30%;
  /* border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--text-color); */
  padding: 1rem;
  overflow: hidden; /* This hides overflowing content */
}

.select_button {
  background-color: var(--red-color);
  color: var(--background-color);
  font-weight: bold;
  padding: 10px 0;
  border-radius: 60px;
  text-align: center;
  font-size: 1.1rem;
  overflow: hidden; /* This hides overflowing content */
}

.button {
  overflow: hidden; /* This hides overflowing content */
  cursor: pointer;
  border-radius: 60px;
  background-color: var(--text-color);
  padding: 10px 0;
  color: var(--red-color);
  font-weight: bold;
  text-align: center;
}
.icon{
  display: none;
}

@media screen and (max-width: 668px) {
  .icon{
    display: block;
    font-size: 2rem;
  }
  .text{
    display: none;
  }
}